* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    text-transform: uppercase;
    border-radius: 2px;
}

.btn i {
    margin-right: 5px;
    display: none;
}

.btn-loader i{
    display: inline-block;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-control {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
    border-radius: 0px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #2184be!important;
    outline: 0 none;
}

.loader {
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.45);
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.loader>div {
    display: table;
    width: 100%;
    height: 100%;
}

.loader>div>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color:#484848;
}

.loader>div>div p {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.active-loader {
    display: block;
}

.app-loader {
    filter: blur(5px);
    -webkit-filter: blur(5px)
}

.alert {
    border-radius: 0px;
}

.alert-danger {
    background-color: #f44336;
    border-color: #f32c1e;
    color: #fff;
}
