.filter-inner {
  padding: 25px 15px;
}

.app-table {
  background: #eef2f4;
  min-width: 100%;
  border: 0;
  border-spacing: 0;
  overflow: hidden;
}

.app-table>thead>tr>th {
  background-color: #fff;
  border-bottom: 2px #eef2f4 solid;
  padding: 10px;
  text-align: left;
}

.app-table>tbody>tr {
  background-color: #fff;
  transition: all .15s ease-in-out;
}

.app-table>tbody>tr>td {
  vertical-align: middle;
  padding: 0;
  border-bottom: 1px #eef2f4 solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 64px;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
}

.app-table>tbody>tr>td .grid-cell {
  color: #535c69;
  font-size: 13px;
  position: relative;
  display: block;
  vertical-align: top;
  margin: 16px 16px 16px;
}

.app-table>tbody>tr>td .grid-cell a {
  color: #639dd8;
  text-decoration: none;
}

.app-table>tbody>tr>td.grid-cell-active div a {
  font-size: 16px;
  color: #bbbbbb;
  transition: all .15s ease-in-out;
}

.app-table>tbody>tr>td.grid-cell-active div a:hover {
  color:#8c8c8c;
}

table.app-table tr:hover {
  background-color: #f6f8f9;
}


.webix_cell {
  height: 50px;
  line-height: 36px;
  font-size: 14px;
  border-right: none;
}